body {
    margin: 0;

    --accent-color: #ffe03d;
    --accent-color-shaded: #ffe03dd8;
}

#global-grid {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: min-content min-content min-content 100px;
    grid-template-areas:
        "north-west north north-east"
        "west center east"
        "south-west south south-east"
        "south2-west south2 south2-east"
    ;
}

#north {
    grid-area: north;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 5px 0px;
}

#west {
    grid-area: west;
    place-self: stretch stretch;
}

#center {
    grid-area: center;
}

#east {
    grid-area: east;
    place-self: stretch stretch;
}

#south {
    grid-area: south;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

#south2-west {
    grid-area: south2-west;
}

#south2 {
    grid-area: south2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#south2-east {
    grid-area: south2-east;
}

#south2-west, #south2, #south2-east {
    background-color: var(--accent-color);
}

#logo {
    align-self: center;
    padding: 25px 0px 20px;
}

h3 {
    font-family: 'Reddit Sans';
    font-variant: normal;
    font-size: 40px;
    font-weight: 600;
    font-variant: normal;
    text-transform: uppercase;
    margin: 3px;
}

table {
    border-collapse: collapse;
}

td {
    --border-width: 2px;

    border-color: var(--accent-color);
    /* border-color: #848484; */
    border-width: var(--border-width);
    border-style: solid;
    margin: 0px;
    padding: 0px;
}

.table-expand {
    width: 100%;
    height: 100%;
}

.td-expand {
    width: 100%;
    border-width: var(--border-width) 0px var(--border-width) 0px;
}

.rythm-tile {
    width: 190px;
    text-align: center;
    padding: 8px 22px;
}

.rythm-tile img {
    max-width: 100%;
    max-height: 100%;
}

.rythm-tile.active {
    text-align: center;
    background-color: var(--accent-color-shaded);
}

.rythm-tile:hover {
    background-color: var(--accent-color-shaded);
}

input {
    border-width: 0px 0px 2px 0px;
    border-color: var(--accent-color);
    text-align: center;
}

input, .unit {
    font-family: 'Reddit Sans';
    font-size: 24px;
    font-weight: 300;
}

textarea:focus, input:focus {
    outline: none;
}

.coupler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px 14px;
}

button {
    --button-background: #ee00d6;
    --button-background-hover: black;

    width: 98px;
    height: 75px;
    border-radius: 5px;
    border-width: 1px;
    stroke-width: 0px;
    background-color: var(--button-background);
    padding: 0px;
    border: 0px solid;
}

button:hover {
    background-color: var(--button-background-hover);
}

.svg-triangle path {
    stroke-width: 16px;
    stroke: white;
    stroke-linejoin: round;
    fill: white;
}

#riff {
    font-family: 'Reddit Sans';
    font-size: 40px;
    font-weight: 700;
    color: #ee003d;
}

.sharp {
    font-size: 26px;
}
