@font-face {
    font-family: 'RedditSans'; /*a name to be used later*/
    src: url('fonts/RedditSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RedditSansSemiBold'; /*a name to be used later*/
    src: url('fonts/RedditSans-SemiBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RedditSansBold'; /*a name to be used later*/
    src: url('fonts/RedditSans-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RedditSansLight'; /*a name to be used later*/
    src: url('fonts/RedditSans-Light.ttf'); /*URL to font*/
}

body {
    margin: 0;
}

#global-grid {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "north-west north north-east"
        "west center east"
        "south-west south south-east"
        "south2-west south2 south2-east"
    ;
}

#north {
    grid-area: north;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px 0px;
}

#west {
    grid-area: west;
    place-self: stretch stretch;
}

#center {
    grid-area: center;
}

#east {
    grid-area: east;
    place-self: stretch stretch;
}

#south {
    grid-area: south;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

#south2-west {
    grid-area: south2-west;
    background-color: #ffe03d;
}

#south2 {
    grid-area: south2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffe03d;
    padding: 27px 0px;
}

#south2-east {
    grid-area: south2-east;
    background-color: #ffe03d;
}

#logo {
    align-self: center;
    padding: 25px 0px;
}

table {
    border-collapse: collapse;
}

td {
    border-color: #ffe03d;
    border-width: 2px;
    border-style: solid;
    margin: 0px;
}

.centrator-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.main-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    gap: 20px;
}

.ver-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    align-items: center;
    gap: 0;
}

.hor-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.rythm-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.rythm-tile {
    text-align: center;
    padding: 13px 40px;
}

.table-expand {
    width: 100%;
    height: 100%;
}

.td-expand {
    width: 100%;
    border-width: 2px 0px 2px 0px;
}

.speed-block, .result-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
}

button {
    width: 98px;
    height: 75px;
    border-radius: 5px;
    border-width: 1px;
    /*margin-left: auto;*/
    background-color: darkorchid;
    color: #fff;
    font-size: 26px;
    font-weight: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
}

h3 {
    font-family: RedditSansSemiBold;
    font-variant: normal;
    font-size: 40px;
    font-weight: 200;
    font-variant: normal;
    text-transform: uppercase;
    margin: 0px;
}

#riff {
    font-family: RedditSansBold;
    font-size: 40px;
    font-weight: 1000;
    color: #ee003d;
}

input {
    width: auto;
    border-radius: 0px;
    border-width: 0px 0px 2px 0px;
    border-color: #ffe03d;
    align-content: center;
    text-align: center;
    margin: 0px;
}

input, .unit {
    font-family: RedditSansLight;
    font-size: 24px;
}

textarea:focus, input:focus {
    outline: none;
}

.svg-triangle path {
    stroke-width: 8px;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap:round;
    fill: white;
}