body {
    margin: 50px 80px
}

button {
    margin-left: 100px;
    padding: 20px 50px;
    border-radius: 5px;
    border-width: 1px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}